<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}YUM!{{else}}EAT ME!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{id}}">Delete</button>
</li>
